{% extends "vehicules/base.html" %}
{% load static %}
{% block content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Gestion &amp; Suivi des Véhicules</h3>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block"
        role="button" href="#"><i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;Ajouter un Véhicule</a></div>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Liste des Véhicules</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Afficher&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Filtrer"></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th style="width: 80px;">Véhicule</th>
                            <th style="width: 250px;"></th>
                            <th>Statut</th>
                            <th>Type</th>
                            <th>Groupe</th>
                            <th>Compteur Actuel</th>
                            <th>Conducteur</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in vehicules %}
                            <tr>
                                <td><img class="rounded mr-2" width="80" height="60" src="{{ object.image.url }}" style="width: 80px;height: 60px;"><br></td>
                                <td style="width: 200px;">
                                    <div><small style="font-size: 16px;"><strong>{{ object.nom }}</strong></small></div>
                                    <div style="font-size: 16px;"><small style="font-size: 14px;"><strong>VIP:</strong></small><small style="font-size: 14px;margin-left: 6px;">{{ object.vip }}<br></small></div>
                                    <div><small style="font-size: 14px;"><strong>Matricule:</strong></small><small style="font-size: 14px;margin-left: 6px;">{{ object.matricule }}<br></small></div>
                                </td>
                                {% if object.statut == "Actif" %}
                                    <td class="text-success font-weight-bold">{{ object.statut}}</td>
                                {% elif object.statut == "Hors Service" %}
                                    <td class="text-danger font-weight-bold">{{ object.statut}}</td>
                                {% else %}
                                    <td class="text-warning font-weight-bold">{{ object.statut}}</td>
                                {% endif %}
                                <td>{{ object.type_v }}</td>
                                <td>{{ object.groupe }}</td>
                                <td>{{ object.compteur }} Km</td>
                                <td>{{ object.conducteur }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Véhicule</strong></td>
                            <td></td>
                            <td><strong>Statut</strong></td>
                            <td><strong>Type</strong></td>
                            <td><strong>Groupe</strong></td>
                            <td><strong>Compteur Actuel<br></strong></td>
                            <td><strong>Conducteur</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Affichage de 1 à 10 sur 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}