{% extends "vehicules/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Gestion &amp; Suivi des Véhicules</h3>
    </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Informations du Véhicule</p>
            </div>
            <div class="card-body">
                    <div class="content-section">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form | crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Sauvgarder</button>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 80px;">N° Maintenance</th>
                                    <th style="width: 250px;">Date</th>
                                    <th>Responsable</th>
                                    <th>Bilan</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>20/002</td>
                                        <td>14-06-2020</td>
                                        <td>Mohamed Amine</td>
                                        <td>OK</td>
                                    </tr>
                                    <tr>
                                        <td>20/001</td>
                                        <td>03-05-2020</td>
                                        <td>Mourad Kacem</td>
                                        <td>OK</td>
                                    </tr>
                                    <tr>
                                        <td>20/002</td>
                                        <td>14-06-2020</td>
                                        <td>Mohamed Amine</td>
                                        <td>OK</td>
                                    </tr>
                                    <tr>
                                        <td>20/001</td>
                                        <td>03-05-2020</td>
                                        <td>Mourad Kacem</td>
                                        <td>OK</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
{% endblock content %} 