{% extends "vehicules/base.html" %}
{% block content %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
<h3 class="text-dark mb-0">Gestion de Maintenances Préventives</h3>
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block right " href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block right " href="{% url 'event_new' %}"> new event </a>
    <a class="btn btn-primary btn-sm d-none d-sm-inline-block right " href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
</div></div>
<div class="card shadow">
    <div class="card-body">
        
        
    

    {{ calendar }}</div>
</div>
{% endblock content %}
