{% extends "vehicules/base.html" %}


{% block title %}
Event
{% endblock %}

{% block content %}
<!--<div class="clearfix">
  <a class="btn btn-primary btn-sm d-none d-sm-inline-block left" href="{% url 'calendar' %}"> Calendar </a>
</div>-->

<form method="post">
  {% csrf_token %}
  <table class="form form-table left col-sm-9">
    {{ form }}
    <tr><td colspan="3"><button type="submit" class="btn btn-primary btn-sm d-none d-sm-inline-block form-control"> Submit </button></td></tr>
  </table>
</form>
{% endblock content %}